<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>AlarmsDisabled</key>
        <false/>
        <key>Checked</key>
        <integer>1</integer>
        <key>Color</key>
        <string>#BF57DAFF</string>
        <key>Enabled</key>
        <true/>
        <key>EventContainer</key>
        <true/>
        <key>IsSuggestedEventCalendar</key>
        <false/>
        <key>Key</key>
        <string>9832828F-C76D-4A43-894F-B9338FDFEBCE</string>
        <key>Notes</key>
        <string>Test destination calendar</string>
        <key>Order</key>
        <integer>1000000005</integer>
        <key>ShareDefaultAlarmSettings</key>
        <false/>
        <key>TaskContainer</key>
        <false/>
        <key>Title</key>
        <string>test-dst</string>
        <key>Type</key>
        <string>Local</string>
    </dict>
</plist>
